/PruebaIntSol/nbproject/private/
/PruebaIntSol/build/
PruebaIntSol.zip
/JavaFXClienteI/nbproject/private/
/JavaFXClienteI/build/
/JavaFXClienteI/dist/
/JavaFXfitNutrition/nbproject/private/
/JavaFXFitNutrition/nbproject/private/
/JavaFXFitNutrition/build/
/JavaFXFitNutrition/dist/
/FitNutrition/nbproject/private/
/FitNutrition/build/
/Nutrition/nbproject/private/
/Nutrition/build/
/Nutrition/dist/
/FitNutrition/dist/
/IntegracionSoluciones-main/JavaFXClienteI/nbproject/private/