<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="catalogos">
  <select id="getCategoria" resultType="pojos.Catalogo" parameterType="int">
    SELECT idCatalogo, nombre
    FROM catalogo
    WHERE idCategoria = #{idCategoria}
  </select>
</mapper>